<a href="https://colab.research.google.com/github/RohanRaj1205/InventoryApi/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE Items (
        Id INTEGER PRIMARY KEY,
        Name TEXT,
        Quantity INTEGER,
        Location TEXT
    )
''')

cursor.execute("INSERT INTO Items (Name, Quantity, Location) VALUES (?, ?, ?)",
               ('Battery Pack', 10, 'Warehouse A'))
cursor.execute("INSERT INTO Items (Name, Quantity, Location) VALUES (?, ?, ?)",
               ('Tire', 50, 'Warehouse B'))
conn.commit()

df = pd.read_sql_query("SELECT * FROM Items WHERE Quantity > 20", conn)
print(df)

   Id  Name  Quantity     Location
0   2  Tire        50  Warehouse B

In [2]:
df = pd.read_sql_query("SELECT Location, SUM(Quantity) as TotalQuantity FROM Items GROUP BY Location", conn)
print(df)

      Location  TotalQuantity
0  Warehouse A             10
1  Warehouse B             50